.projects {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 576px) {
  .projects {
    padding: 40px;
    justify-content: space-between;
    gap: 30px;
  }
}
