.slogan {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  gap: 5px;

  &__title {
    font-family: Eurostile Bold;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__secteurs {
    font-family: Eurostile Bold;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text {
    font-family: Eurostile Medium;
    font-size: 14px;
  }

  &__logo {
    width: 100%;

    .img {
      display: flex;
      justify-self: flex-end;
      width: fit-content;
      height: auto;
    }
  }
}
