.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  &__title {
    text-align: center;
    font-family: Eurostile Bold;
    font-size: 35px;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #242318;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .links {
    padding: 40px 90px 60px 90px;

    &__title {
      font-size: 50px;
    }
  }
}
