.carousel-secteurs {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 25rem; // 400px
  max-width: fit-content;
  margin-top: -6.25rem; // -100px
  padding: 0 2.5rem; // 40px
  gap: 0.3125rem; // 5px

  &__container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
    gap: 3.125rem; // 50px
    max-width: fit-content;
    z-index: 800;

    &.animating {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    scroll-snap-align: start;
    max-width: fit-content;
    position: relative; // Important pour le positionnement absolu du texte

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__overlay {
      display: flex;
      align-items: center;
      position: absolute; // Changez à absolute
      bottom: 3.75rem; // Ajustez selon vos besoins
      left: 50%;
      transform: translateX(-50%);
      padding: 0.5rem 1rem;
      border-radius: 0.3125rem;
      justify-content: space-between;
    }
  }

  &__text {
    color: #f7f4f0;
    font-size: 1.875rem; // 30px
    margin-right: 0.3125rem;
    font-family: Eurostile Bold;
    position: relative;

    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4),
      3px 3px 8px rgba(0, 0, 0, 0.4);
  }

  &__bottom {
    display: none;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 100%;
    z-index: 2000;
  }

  &__arrows {
    padding-top: 3.125rem; // 50px
    position: absolute;
    right: 10%;
    transform: translateX(-50%);

    svg {
      cursor: pointer;
      font-size: 2rem; // 32px
      color: #242318;
    }
  }
}

@media (min-width: 575px) {
  .carousel-secteurs {
    max-height: 50rem; // 400px
    padding: 0 6.25rem;
    align-items: center; /* Ajoutez cette ligne pour centrer les éléments */
    gap: 2rem;
    &__text {
      font-size: 2.5rem;
      padding-left: 3.75rem;
      bottom: 4.75rem; // Ajustez pour le positionnement
    }

    &__bottom {
      width: 100%;
    }
    &__dots {
      display: none;
    }

    &__dot {
      height: 0.5rem; // 7px
      width: 3rem; // 40px
      margin: 0 0.6125rem;
    }
  }
}
@media (min-width: 1200px) {
  .carousel-secteurs {
    max-height: 50rem; // 400px
    padding: 0 6.25rem;
    align-items: center; /* Ajoutez cette ligne pour centrer les éléments */
    gap: 2rem;
    &__text {
      font-size: 2.5rem;
      padding-left: 3.75rem;
      bottom: 4.75rem; // Ajustez pour le positionnement
    }

    &__bottom {
      display: flex;
      width: 100%;
    }
    &__dots {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__dot {
      display: inline-block;
      height: 0.5rem; // 7px
      width: 3rem; // 40px
      margin: 0 0.6125rem;
      background-color: #bab2aa;
      opacity: 0.5; // 50%
      border-radius: 0%;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Ajout de la transition pour box-shadow et transform */
      margin-bottom: 1.875rem; // 30px

      &:hover {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); /* Ajout d'un effet d'illumination */
        transform: scale(
          1.1
        ); /* Légère augmentation de la taille pour accentuer l'effet */
      }
      &.active {
        background-color: #bab2aa;
        opacity: 1; // 100%
      }
    }
  }
}
