.realisations {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
  gap: 20px;

  &__text {
    font-family: Eurostile Bold;

    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  &__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 576px) {
  .realisations {
    padding: 40px;

    &__text {
      padding-bottom: 30px;
      font-size: 75px;
    }
  }
}
