.project-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;

  &__main {
    width: 100%;
  }

  &__secondary {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
  }

  &__img {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .project-card {
    flex-direction: row;
    width: 100%;
    &__main {
      width: 100%;
    }
    &__secondary {
      flex-direction: column;
      width: 60%;
      height: 100%;
    }
    &__img {
      width: 100%;
    }
  }
}
