.navMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__links {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: end;
    justify-content: flex-end;
    gap: 30px;
  }

  &__link {
    display: inline-block;
    justify-self: flex-end;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  .nav-link-active {
    opacity: 1;
  }

  &__text {
    position: relative;
    font-family: Eurostile Bold;
    font-size: 23px;
    text-transform: uppercase;
    color: #f7f4f0;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5%;
      width: 110%;
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.4s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
  &--consecration .navMenu__link .navMenu__text {
    color: black;
  }
}
