.btn {
  display: flex;
  width: fit-content;
  background-color: #242318;
  color: #f7f4f0;
  padding: 15px 20px;
  border-radius: 15px;

  &__text {
    font-family: Eurostile Bold;
    text-transform: uppercase;
    font-size: 13px;
  }

  &--end {
    align-self: end;
  }

  &--start {
    align-self: flex-start;
  }

  &--center {
    align-self: center;
  }

  &--soumission {
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    justify-self: end;
    align-self: end;
    background-color: #877851;
    color: #242318;
  }
}
