.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  max-height: 1100px;
  &__container {
    position: relative;
    display: flex;

    transition: transform 0.5s ease-in-out;
    &.animating {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__text-overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: Eurostile Bold;
    position: absolute;
    text-transform: uppercase;
    bottom: calc(2.5rem + 2.1875rem);
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: #f7f4f0;
    z-index: 10;
    padding: 0 1.875rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    scroll-snap-align: start;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__dots {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
    bottom: 2.5rem;
  }

  &__dot {
    display: inline-block;
    width: 3.75rem;
    height: 0.4375rem;
    margin: 0 0.625rem;
    background-color: #f7f4f0;
    border-radius: 0%;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0.6;

    &.active {
      background-color: #f7f4f0;
      opacity: 1;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.875rem;
    position: absolute;
    bottom: 1.875rem;
    color: #f7f4f0;
    z-index: 10;
    box-sizing: border-box;
  }

  &__arrows {
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 0.3125rem;
    svg {
      cursor: pointer;
      font-size: 2rem;
      color: #f7f4f0;
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une transition pour un effet fluide */
      &:hover {
        transform: translateY(
          -5px
        ); /* Déplace légèrement le bouton vers le haut */
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Amplifie l'effet de shadow lors du survol */
        cursor: pointer;
      }
    }
  }

  &__socials {
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 0.625rem;
    svg {
      cursor: pointer;
      font-size: 1.5rem;
      color: #f7f4f0;
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une transition pour un effet fluide */
      &:hover {
        transform: translateY(
          -5px
        ); /* Déplace légèrement le bouton vers le haut */
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Amplifie l'effet de shadow lors du survol */
        cursor: pointer;
      }
    }
  }

  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

@media (min-width: 576px) {
  .carousel {
    &__content {
      display: flex;
      flex-direction: column; /* Assure l'alignement vertical */
      justify-content: center; /* Centre les éléments verticalement */
      align-items: center; /* Centre les éléments horizontalement */
      text-align: center;
      width: 100%;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centre le contenu */
      padding: 3.125rem;
      gap: 1.25rem; /* Ajoute un espacement entre le titre et le texte */
      z-index: 10;
    }

    &__bottom {
      padding: 0 2.5rem;
    }

    &__title {
      font-family: Eurostile bold;
      text-transform: uppercase;
      font-size: 4.6875rem;

      color: #f7f4f0;
    }
    &__text-overlay-desktop {
      display: flex;
      width: 100%;

      font-size: 1.875rem;
      position: relative;
      color: #f7f4f0;
      font-family: Eurostile Bold;
      text-align: center;
      justify-content: center;
    }
  }
}
@media (min-width: 1024px) {
  .carousel {
    &__title {
      font-size: 4.6875rem;
    }
    &__text-overlay-desktop {
      display: flex;
      width: 100%;

      font-size: 2rem;
      position: relative;
      color: #f7f4f0;
      font-family: Eurostile Bold;
      text-align: center;
      justify-content: center;
    }

    &__bottom {
      padding: 0 4.6875rem 2.5rem 4.6875rem;
    }

    &__socials {
      gap: 1.25rem;

      svg {
        font-size: 2.5rem;
      }
    }
    &__arrows {
      z-index: 2000;
      display: flex;
      justify-content: space-between;
      width: auto;
      gap: 0.625rem;
      svg {
        font-size: 2.5rem;
      }
    }
  }
}
