.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #242318;
  padding: 20px;
  color: #f7f4f0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__container-elements {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  &__elements {
    display: flex;
    width: 100%;
    height: auto;
  }
  &__logo img {
    height: 100%;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
  }

  &__link {
    color: #f7f4f0;
    width: fit-content;
    max-width: 100%;
    font-family: Eurostile Medium;
    font-size: 10px;
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-left: auto;
    justify-self: end;
    align-self: end;
    gap: 20px;
  }

  &__social {
    display: flex;

    svg {
      color: #fff;
      font-size: 24px;
    }
  }
}
