.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #242318;
  padding: 2.8125rem 0.9375rem;
  color: #f7f4f0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 100%;
    justify-content: space-between;
  }

  &__container-elements {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1.25rem;
  }

  &__elements {
    display: flex;

    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  &__logo img {
    height: 100%;
    width: 100%;
    max-width: 250px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-self: end;
    align-self: end;
    gap: 10px;
  }

  &__link {
    color: #f7f4f0;
    width: fit-content;
    max-width: 100%;
    font-family: Eurostile Bold;
    font-size: 0.68rem;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5%;
      width: 110%;
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.4s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  &__socials {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-left: auto;
    gap: 20px;
  }

  &__social {
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une transition pour un effet fluide */

    svg {
      color: #f7f4f0;
      font-size: 1.2rem;
    }
    &:hover {
      transform: translateY(
        -5px
      ); /* Déplace légèrement le bouton vers le haut */
      box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4); /* Amplifie l'effet de shadow lors du survol */
      cursor: pointer;
    }
  }

  &__row-container {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    justify-content: space-between;
    gap: auto;
    width: 100%;
  }

  &__element-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: flex-end;
  }

  &__links-bottom {
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  &__socials-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}
@media (min-width: 420px) {
  .footer {
    &__container-elements {
      gap: 40px;
    }

    &__link {
      font-size: 0.85rem;
    }

    &__socials {
      gap: 1.5625rem;
    }

    &__social {
      svg {
        color: #f7f4f0;
        font-size: 1.2rem;
      }
    }
  }
}
@media (min-width: 500px) {
  .footer {
    &__link {
      font-size: 1.125rem;
    }

    &__social {
      svg {
        color: #f7f4f0;
        font-size: 1.5rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 2.5rem;
    &__row-container {
      padding: 0;

      display: flex;
      flex-direction: row;

      justify-content: space-between; /* Ou space-around */
      gap: auto;
      width: 100%;
    }
    .footer__row-container > * {
      flex: 1; /* Chaque enfant prendra un tiers de l'espace disponible */
      /* Ou utilisez flex-basis si vous voulez un contrôle plus précis */
      /* flex-basis: 33.33%; */
    }
    &__links-bottom {
      margin-left: 0;
      justify-items: end;
    }

    &__link-bottom {
      color: #f7f4f0;
      width: fit-content;
      max-width: 100%;
      font-family: Eurostile Bold;
      font-size: 0.85rem;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -5%;
        width: 110%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.4s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    &__element-bottom {
      gap: 1.125rem;
    }

    &__logo-bottom img {
      height: 100%;
      width: 75%;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    &__link-bottom {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 3.2875rem 5.3125rem;
    &__link-bottom {
      font-size: 1.25rem;
    }
    &__logo-bottom img {
      height: 100%;
      width: 55%;
    }
    &__element-bottom {
      gap: 2rem;
    }

    &__socials-bottom {
      gap: 1.125rem;
    }
  }
}
