.member {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px;
  justify-content: space-between;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__name {
    width: 50%;
    text-align: left;
    font-family: Eurostile Bold;
    font-size: 55px;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    text-align: left;
    font-family: Eurostile Medium;
    font-size: 15px;
  }

  &--background-green {
    padding: 60px 30px 40px 30px;
    background-color: #877851;
  }
}
@media (min-width: 576px) {
  .member {
    padding: 40px;

    gap: 20px;

    &__name {
      font-size: 80px;
    }

    &__text {
      font-size: 30px;
    }
  }
}
