.cart {
  position: relative;
  text-align: center;

  background-color: #242318;
  .cart-img {
    display: block;
    image-rendering: auto;
    width: 100%;
    height: auto;
    cursor: grab; /* Indique que l'image peut être déplacée lors du zoom */
    max-height: 600px;
  }
  &__text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centré verticalement */
    align-items: center; /* Centré horizontalement */
    gap: 15px;
    padding: 0 40px;
    width: 100%;
    top: 50%; /* Centre l'overlay en Y */
    left: 50%; /* Centre l'overlay en X */
    transform: translate(-50%, -50%); /* Centre parfaitement l'overlay */
    color: #f7f4f0;

    pointer-events: none; /* Ensure overlay isn't affected by zoom/pan */
  }
  &__title {
    width: 90%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4),
      3px 3px 8px rgba(0, 0, 0, 0.4);
    font-family: Eurostile Bold;
    font-size: 35px;
    text-transform: uppercase;
  }
  &__text {
    font-family: Eurostile Medium;
    line-height: 1.5rem;
  }
  &__title,
  &__text {
    pointer-events: none; /* Prevent text interaction while zooming/panning */
  }
}

@media (min-width: 1024px) {
  .cart {
    display: flex;
    justify-content: flex-start; /* Aligne les enfants du conteneur à gauche */
    align-items: center; /* Centre verticalement le contenu du conteneur */

    &__text-overlay {
      gap: 15px;
      top: 50%; /* Place le texte au centre en Y */
      left: 0; /* Aligne l'overlay à gauche */
      transform: translateY(
        -50%
      ); /* Centre parfaitement l'overlay verticalement */
      width: 60%; /* Ajustez la largeur si nécessaire */
      justify-content: center;
      align-items: flex-start; /* Alignement du texte à gauche */
      padding: 2rem;
      color: #f7f4f0;
      text-align: left; /* Assure que le texte est aligné à gauche */
    }

    &__title {
      width: 100%;
      font-size: 3.35rem;
      font-family: Eurostile Bold;
      text-transform: uppercase;
      padding: 0 3rem;
    }

    &__text {
      font-size: 25px;
      font-family: Eurostile Medium;
      padding: 0 3rem;
      line-height: 2.5rem;
    }
  }
}

@media (min-width: 768px) {
  .cart {
    &__title {
      font-size: 65px;
      font-family: Eurostile Bold;

      text-transform: uppercase;
    }
    &__text {
      font-size: 25px;
      font-family: Eurostile Medium;
    }
  }
}

@media (min-width: 1200px) {
  .cart {
    &__title {
      width: 90%;
      font-size: 3.75rem;
      font-family: Eurostile Bold;

      text-transform: uppercase;
    }
    &__text {
      font-size: 25px;
      font-family: Eurostile Medium;
    }
  }
}
@media (min-width: 1400px) {
  .cart {
    &__title {
      font-size: 80px;
      font-family: Eurostile Bold;

      text-transform: uppercase;
    }
    &__text {
      font-size: 30px;
      font-family: Eurostile Medium;
    }
  }
}
