.cart {
  position: relative;
  text-align: center;

  .cart-img {
    display: block; /* Évite les espaces sous les images */
    width: 100%;
    height: auto; /* Pour les images responsives */
  }

  &__text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 0 40px;
    width: 100%;
    top: 20%; /* 100px du haut */
    left: 50%;
    transform: translateX(-50%); /* Pour centrer horizontalement */
  }

  &__title {
    font-size: 38px; /* Taille de la police, à ajuster selon vos besoins */
    color: #f7f4f0; /* Couleur du texte */
    text-transform: uppercase;
    font-family: Eurostile Bold;
  }

  &__text {
    font-size: 0.75rem; /* Taille de la police, à ajuster selon vos besoins */
    color: #f7f4f0; /* Couleur du texte */
    text-transform: uppercase;
    font-family: Eurostile Medium;
  }
}

@media (min-width: 576px) {
  .cart {
    &__text-overlay {
      padding: 2rem;
      justify-content: center;
      font-size: 35px;
      position: absolute;
      text-transform: uppercase;

      color: #f7f4f0;
    }
    &__title {
      padding: 2rem 3rem;
      font-size: 50px; /* Taille de la police, à ajuster selon vos besoins */
    }

    &__text {
      font-size: 1.25rem; /* Taille de la police, à ajuster selon vos besoins */
      padding: 0 4rem;
    }
  }
}
