.link {
  display: flex;
  flex-direction: column;
  color: #242318;
  border-bottom: 1px solid #242318;
  &__title {
    padding: 1rem 0.5rem;
    font-family: Eurostile Medium;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    img {
      transition: 0.3s ease-in-out;
    }
  }

  &.active &__icon {
    img {
      transform: rotate(180deg);
    }
  }

  &__text {
    padding: 0 0.5rem;
    max-height: 0;
    font-family: Eurostile Medium;
    font-size: 14px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }

  &.active &__text {
    padding: 0.5rem 0.5rem;
    max-height: 12em;
  }
}
